* {
    box-sizing: border-box;
    margin: 0;
}



body{
    background: url("background.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

@font-face {
    font-family: oswald;
    src: url(Oswald-VariableFont_wght.ttf);
}

p{
    text-indent: 10%;
    display: flex;
    align-items: center;
    position: relative;
    padding: .75em 5em;
    width: 35em; 
    max-width: 70%;
    font-family: oswald;
    text-align: center;
    text-size-adjust: 20px;
}


