#main{
    padding:0;
    font-family: "Newake";
    margin:auto;
    background-color:#E0E2DC;
}

/* LOGO    */
.logo{
    background-size: contain;
    width: 350px;
    height:250px;
    position: absolute;
    top: -70px;
    left: -20px;
}

.logo img{
    margin:0;
    position:fixed;
    display:block;
    top:0;width:15%;
    z-index:200;
    transition:all 0.3s ease-out 0s;
}



/*Menu scroll effect*/
html {
  scroll-behavior: smooth;
}

/*Image slide show */
#slideimage{
	width:100%;
	height:1000px;
	position:relative;
	background-repeat:no-repeat;
	transition: height 5s ease-in-out;
	background-image:url('../images/Bird.jpg');
	background-size:100%;
	animation: slideshow 5s infinite;
	-webkit-animation: slideshow 5s infinite; 
}
	


@-webkit-keyframes slideshow{
	0% {background-image:url('../images/Lion.jpg');}
	20% {background-image:url('../images/Wolf.jpg');}
	40% {background-image:url('../images/Leopard.jpg');}
	60% {background-image:url('../images/Elephant.jpg');}
	80% {background-image:url('../images/Gull.jpg');}
	100% {background-image:url('../images/Bird.jpg');}
}

@keyframes slideshow{
	0% {background-image:url('../images/Lion.jpg');}
	20% {background-image:url('../images/Wolf.jpg');}
	40% {background-image:url('../images/Leopard.jpg');}
	60% {background-image:url('../images/Elephant.jpg');}
	80% {background-image:url('../images/Gull.jpg');}
	100% {background-image:url('../images/Bird.jpg');}
}


#main-container{
 height:100%;
 width: 1000px;
 margin: 0 auto;
 font-family:Verdana;

}
topleft {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}


/*menu*/
#header-container {
	position:fixed;
	width:100%;
	top:75%;
	left:0;
	right:0;
	height:0;
	text-align:center;
	text-overflow:clip;
	white-space: nowrap;
	border:0;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	text-align:center;
	z-index:2;
	opacity:0.6;
	transition:opacity 2s;
}

#header-container:hover{
	opacity:1;
}

#header{
	padding-left:80px;
	padding-top: 5px;
	background-color: #202121;
	font-size:24;
	font-family: bebas;
	padding-top:10px;
	color:white;
	width:90px;
	overflow:hidden;
	height: 30px;
	box-shadow:0 0 30px black;
	transition: width 1s ease-in-out;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
}


#header:hover{
	width:1200px;
}

#header:hover>.nav{
	opacity:1;
}


/*list effect*/
.nav {
	margin-left:20px;
	padding-left:150px;
	font-size:18;
	transition: opacity 2s;
	opacity:0;
	padding-top:3px;
}

.nav ul{
	width:800px;
}

.nav a{
	margin-left:5px;
	margin-right:5px;
}



/*List*/
.nav ul{
	list-style-type:none;
	margin:0;
	padding:0;
}


ul{
	list-style-type: disk;
}


li{
	display: inline;
	width: 800px;
}

a{
	text-decoration: none;
	color:white;
	transition: all 0.2s ease-in-out;
}

a:hover{
	font-size:19;
	color:black;
}


table{
	color:#3B3B3B;
}

/*SCROLLBAR DESIGN*/
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


.left{
	float:left;
}

.right{
	float:right;
}

.right a{
	transition:all 0.2s ease-in-out;
}

.right a:hover{
	color:maroon;
	font-size:20;
}





.Menulogo{
	float:left;
}

/*body*/

.paragraph p{
    text-indent: 50px;
}

.section-container{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;

}

.section-container .columns{
    flex:0 0 auto;
    width:50%;
}

.section-container .columns.image{
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}


.section-container .columns.content .content-container{
    padding:40px 50px;
}

.section-container .columns.content .content-container h5{
    font-weight:700;
    font-size:25px;
    margin-bottom:20px;
}

.section-container .columns.content .content-container p{
    font-weight:400;
    font-size:16px;
    margin-bottom:20px;
    margin-bottom:15px;
    text-align:justify;
}

@media screen and (max-width:767px){
    
.section-container{
    flex-flow:row wrap;
}
    
.section-container .columns.image{
    display:block;
    order:1;
    width:100%;
    height:100%;
}
    
.section-container .columns.content{
    display:block;
    order:2;
    width:100%;
}
    
.section-container .columns.content .content-container{
    padding:20px 35px;
}
    
.section-container .columns.content .content-container h5{
    margin-bottom:5px;
}
}

                                 
/*content*/  
.wrap h3{
    text-align:center;
    text-transform:uppercase;
    line-height:1.8em;
    letter-spacing:0.3em;
    margin:4% 0;
    font-size:3em;}
    
.wrap h2{
    text-align:center;
    text-transform:uppercase;
    line-height:1.8em;
    letter-spacing:0.3em;
    margin:4% 0;
    font-size:4em;}
.wrap h1{
    text-align:center;
    text-transform:uppercase;
    line-height:1.8em;
    letter-spacing:0.3em;
    margin:4% 0;
    font-size:5em;}
.wrap hr{
    margin-bottom:2em;
    max-width:250px;
    border-color:#222;
}
@media screen and (max-width:75em){.wrap h2{font-size:2rem;}}


/*infographic picture */

.infobody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

.infotext p{
    text-indent: 10%;
    display: flex;
    align-items: center;
    position: relative;
    padding: .75em 5em;
    width: 35em; 
    max-width: 70%;
    text-align: center;
    text-size-adjust: 200px;
}
.infobody h3 {
    text-align:center;
    text-transform:uppercase;
    line-height:1.8em;
    letter-spacing:0.3em;
    margin:4% 0;
    font-size:2em;
}

.infodesign{
    min-height: 75px; 
    font-size: 15px; 
    
}



.infobody2{
     display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    width: 75%;
    padding: 10px;
    font-size: 30px;
    color: black;
   
    
}
.infodeisgn2 {
    width: 65%;
    border: 100px;
    padding: 100px;
    margin: 0;
    
}

.infotext2 h2{
    text-align:center;
    text-transform:uppercase;   
    font-size:1em;
}





.row {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 0px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

#footer {
    background-color:black;
    color:white;
    text-align:center;
	border: 5px solid black;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	height:30px;
}

.footerthing{
	font-family:bebas;
	font-size:16;
}

.description1{
	font-family:Helvetica;
	font-size:16;
	line-height: 200%;
	text-indent:40px;
	color:#3B3B3B;
}