
/**Start of nagivation Bar*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background: #24252a;
    /**line-height: 1.6;**/
   /** height: 100vh; **/
   scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #54b8ea;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    padding: 8px 8%;
    background: rgb(255,255,255);
    position: -webkit-sticky;
    position: sticky;
    overflow-y: hidden;
    top:0;
    z-index: 2;
}
.logo{
    cursor: pointer;
    width: 105px;
    height: 40px;
    margin-right: auto;
    justify-content: flex-start;
}

.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
    justify-content: flex-end;
    
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color: #063851ea;
}
/**end of navication bar**/

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height:100vh;

}
section h1{
    font-size: 4rem;
    color: aliceblue;
}
section p{
    font-size: 1.5rem;
    color: aliceblue;
}
@font-face {
    font-family: nameFont;
    src: url(../font/Sevastopol.ttf);
}

section#home{
    background-color:#3a78a2fb;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.026), rgba(93, 111, 193, 0.73)),
    url(../images/Macaw.jpg);
    background-size:cover;
    background-position: center;  
}
.name{
    font-family: nameFont;
    font-size: 210px;
    font-weight: 400;
    margin-top: -10px;
}
.intro{
    margin-top: 30px;
    text-align: left;
    margin-left: 60px;
    margin-right: 50px;

}
.intro h2{
    font-size: 50px;
    color: #fff;
}

/*start of endangered animals*/
section#animals{
    background-color: #eaedef;
}
section#animals h1{
    color: black;
    margin-top: 10px;
}
section#animals .container{
    /*position: relative;*/
    width: 1500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform-style: flat;
    /*position: absolute;*/
    margin-top: -20px;
   
}
section#animals .container .box{
    position: relative;
    width: 300px;
    height: 300px;
    background: #000;
    transition: 0.5s;
    transform-style: flat;
    overflow: hidden;
    margin-top: 20px ;
    margin-right: 40px;
    box-sizing:border-box;
}
section#animals .container:hover .box{
    transform: rotateY(25deg);
}
section#animals .container .box:hover ~ .box{
    transform: rotateY(-25deg);
}
section#animals .container .box:hover{
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
    box-shadow: 0px 0px 0px #ccc;
}
section#animals .container .box .imgbx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
section#animals .container .box .imgbx::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:  linear-gradient(180deg,rgba(3, 3, 3, 0.831), rgba(9, 11, 21, 0.8));
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
}
section#animals .container .box:hover .imgbx::before{
    opacity: 1;
}
/*img{
    width: 100%;
    height: auto;
}*/
section#animals .container .box .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    
}
section#animals .container .box .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;
}
section#animals .container .box .content h2{
    color:  rgb(246, 245, 251);
    transition: 0.1s;
    text-transform: uppercase;
    margin-bottom: 200px;
    font-size: 20px;
    font-weight: 100;
    transform: translateY(270px);
    transition-delay: 0.5s;
    z-index: 2;
    
}
section#animals .container .box:hover .content h2{
    transform: translateY(0px);
}
section#animals .container .box .content p{
    position: absolute;
    color: rgb(253, 249, 249);
    transition: 0.5s;
    font-size: 15px;
    transform: translateY(270px);
    transition-delay: 0.5s;
    margin-bottom: 10px;
    text-align: left;
    z-index: 3;
}
section#animals .container .box:hover .content p{
    transform: translateY(0px);
}
/* End of animals*/

/*Start of impact and utilitarianism*/
section#impact{
    background-color: #3a78a2fb;
 }
/*end of impact and utilitarianism*/

/*Start of Laws*/
section#laws{
    background-color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
}
section#laws h1{
    color: #000;
    margin-top: -40px;
}
section#laws .order{
    width: 1300px;
    height: 300px;
    margin: -10px;
    display: flex;
}

section#laws .order .content{
    margin: 15px;
    width: 900px;
    height: 250px;
    box-shadow: -1px 0 10px #000000;
    align-items: center;
    justify-content: center;
    text-align: center;

}
section#laws .order .content p{
    color: #000;font-size: 19px;
}
section#laws .order2{
    width: 1300px;
    height: 300px;
    margin: -20px;
    display: flex;
}
section#laws .order2 .content{
    margin: 15px;
    width: 900px;
    height: 300px;
    box-shadow: -1px 0 10px #000000;
    align-items: center;
    justify-content: center;
    text-align: center;

}
section#laws .order2 .content p{
    color: #000;
    font-size: 18px;
}
/*end of laws*/

/*Start of Natural impact and Disaster*/
section#natural{
    background-color: #3a78a2fb;
}
section#natural h1{
    margin-top: 80px;
}
.ctnr{
    display: flex;
    width:100%; 
    padding:4% 2%;
    box-sizing:border-box;
    height:100vh;
    margin: -50px;
}
.imgbox{
    z-index: 1;
    position: relative;
    flex: 1;
    overflow: hidden;
    transition: 0.5s;
    margin: 0 .5%;
    box-shadow: 0px 0px 0px #ccc;
}
.imgbox img{
    width: 200%;
    height: calc(70% - 0vh);
    object-fit: cover;
    transition: 1.5s;

}
section#natural .ctnr .des p{
    position: absolute;
    color: rgb(248, 247, 243);
    font-size: 17px;
    margin-bottom: 0px;
    text-align: left;
    
}
.imgbox span{
    color: #fff;
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 5vh;
    line: height 2.5;
}
.imgbox:hover{
    flex: 1 1 50%;
}
.imgbox:hover img{
    width: 100%;
}
.imgbox .des:hover span p{
    color: #357532;
}
/*End of natural impact...*/

/*start of articles*/
section#articles{
    background: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
}
section#articles h1{
    color: #000;
}
section#articles .box{
    position: relative;
    width: 1500px;
    height: 300px;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(214, 180, 180);
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0,5);
    transition: .5s;
    display: flex;
}
section#articles .box:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,5);
}

section#articles .box .event{
    padding-left: 20px;
}
section#articles .box .event h2{
    margin: 0;
    padding-left: 0;
    color: #000;

}
section#articles .box .event p{
    margin: 0;
    padding: 10px 0 0;
    text-align: justify;
    color: #000;
}
section#articles .box2{
    position: relative;
    width: 1500px;
    height: 300px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ccc;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0,5);
    display: flex;
    transition: .5s;
}
section#articles .box2:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,5);
}

section#articles .box2 .event{
    padding-left: 20px;
}
section#articles .box2 .event h2{
    margin: 0;
    padding-left: 0;
    color: #000;

}
section#articles .box2 .event p{
    margin: 0;
    padding: 10px 0 0;
    text-align: justify;
    color: #000;
}
/*end of articles*/

/*Start of info*/
section#infographics{
    background: #3a78a2fb;
    background-image: url(../images/antelope.jpg);
    background-size: cover;
}
section#infographics .completeTitle{
    color: rgb(44, 41, 41);
    position: relative;
    top: -30%;
    margin: 30px;
    font-size: 70px;
    font-family: titleFont;
    /*border-left: 2px solid rgb(77, 68, 68);*/
}
section#infographics .shortdescription{
    color: rgb(80, 74, 74);
    position: relative;
    top: -40%;
    margin: 40px;
    font-size: 20px;
}


@font-face {
    font-family: titleFont;
    padding: 5px;
    src: url(../font/Poppins-Regular.ttf);
}
section#infographics .important{
  background-color: #000;
  border-radius: 50px;
  text-decoration: none;
  padding: 10px 30px;
  font-size: 20px;
  font-family: serif;
  cursor: pointer;
  display: flex;
  position: absolute;
  left: 45%;
  margin: -150px;
}
section#infographics .protect{
    background-color: #000;
    border-radius: 70px;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 20px;
    font-family: serif;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 45%;
    margin: -150px;
}

section#about{
    background-color: #a3c3ed;
}
section#about h1{
    text-align: center;
    font-size: 40px;
    color: #2b9ec2;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: -20px;
}
section#about h1::after{
    content: "";
    height: 5px;
    width: 200px;
    background-color: #2b9ec2;
    border-radius: 10px;
    display: flex;
    margin: auto;
}
section#about .wrapper{
    padding: 15px 20%;
    margin: 30px auto;
    display: block;
}
section#about .content{
    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
    letter-spacing: 1.5px;
    margin-top: -40px;
}
section#about .content h3{
    letter-spacing: 1px;
}
section#about .button{
    letter-spacing: 1px;
    margin-top: 40%;

}
section#about .button a{
    color: #2b9ec2;
    background-color: #fff;
    border: 1px solid #fff;
    padding: 10px 35px;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 22px;
    text-transform: uppercase;
}
section#about .button a:hover{
    color: #fff;
    background-color: #2b9ec2;
}
section#about .image-section{
    width: 20%;
    padding: 0px 10px;
    position: absolute;  
}
section#about .image-section img{
    height: auto; 
    margin-left: 300px;
    margin-right: 300px;
    
    width: 100%;


}

footer{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	width: 100%;
	background: #f2f3f7;
}
.container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.container .card{
	width: 300px;
	height: 250px;
	padding:  60px 30px;
	background: f2f3f7;
	box-shadow: 0.6em 0.6em 1.2em #d2dce9,
				-0.5em -0.5em 1em #ffffff;
	border-radius: 20px;			
}
.container .card .content{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
.container .card .content .imgs{
	width: 180px;
	height: 180px;
	border-radius: 50%;
	position: relative;
	margin-bottom: 10px;
	overflow: hidden;
}
.container .card .content .imgs img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    object-fit: cover;
}