@font-face {
    font-family: customFont;
    src: url(Anton-Regular.ttf);
}

@font-face {
    font-family: customFont2;
    src: url(FiraSans-ExtraBold.ttf);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: customFont;
    font-size: 25px;
    color: black;
    
}
div{
    width: 25%;
    border: 0;
    padding: 1%;
    margin: 0;
}