* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#12194A, #393E8F) ;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    list-style: none;
    margin-left: 20px;
}
header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover, header ul li .main {
    background: #fff;
    color: #12194A;
}
section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #12194A, transparent);
    z-index: 1000;
}
section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#bg_moon {
    object-fit: contain;
    mix-blend-mode: screen;
}
section img#bg_castle {
    object-fit: contain;
}
section img#bg_background {
    mix-blend-mode: overlay;
}
#moving_text {
    position: absolute;
    right: -1500px;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}
/*
NEED OPINION
#call_to_action {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #393E8F;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}
*/
.first_div {
    position: relative;
    padding: 100px;
    background: #12194A
}
.first_div h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}
.first_div p {
    font-size: 1.3em;
    color: #fff;
}
footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
    border-top: 1px solid rgba(167, 167, 167, 0.2);
}
footer a, footer p {
    font-size: 1em;
    text-decoration: none;
    color: #ffffff;
}